.list {
    display: block;
    margin-bottom: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #808080;
    padding: 0.5rem;
  }

  .list:hover {
    background-color: #1f1f1f;
    color: white;
  }